.divider{
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.icon-box{
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-box-small{
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-button{
    border-radius: 50% 50%;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.icon-button:hover{
    background-color: rgba(0, 0, 0, 0.05);
}

.icon{
    width: 100%;
    height: 100%;
    background-position: 50% 50%;
    background-size: 100% 100%;
}

.eye-off-icon{
    background-image: url(assets/image/eye-off.png);
}

.eye-on-icon{
    background-image: url(assets/image/eye-on.png);
}

.expand-right-icon{
    background-image: url(assets/image/right-icon.png);
}

.expand-left-icon{
    background-image: url(assets/image/left-icon.png);
}

.right-icon{
    background-image: url(assets/image/next-icon.png);
}

.left-icon{
    background-image: url(assets/image/back-icon.png);
}

.logo-white-icon{
    background-image: url(assets/image/logo-white.png);
}

.logo-black-icon{
    background-image: url(assets/image/logo-black.png);
}

.logo-color-icon{
    background-image: url(assets/image/logo-color.png);
}

.github-icon{
    background-image: url(assets/image/github.png);
}

.search-icon{
    background-image: url(assets/image/search.png);
}

.login-button{
    border-radius: 40px;
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
    cursor: pointer;
}

.login-button:hover{
    background-color: rgba(0, 0, 0, 0.1);
}

.mypage-button{
    border: 1px solid black;
    border-radius: 40px;
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
    cursor: pointer;
}

.mypage-button:hover{
    background-color: rgba(0, 0, 0, 0.1);
}

.logout-button{
    border-radius: 40px;
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
    cursor: pointer;
}

.logout-button:hover{
    background-color: rgba(0, 0, 0, 0.1);
}

.upload-button{
    border: 1px solid black;
    border-radius: 40px;
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
    cursor: pointer;
}

.upload-button:hover{
    background-color: rgba(0, 0, 0, 0.1);
}

.disable-button{
    border-radius: 40px;
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.05);
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
    cursor: not-allowed;
}

.able-button{
    border-radius: 40px;
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
    cursor: pointer;
}

.check-fill-icon{
    background-image: url(assets/image/check-fill.png);
}

.check-empty-icon{
    background-image: url(assets/image/check-empty.png);
}

.image-icon{
    background-image: url(assets/image/image-icon.png);
}

.video-icon{
    background-image: url(assets/image/video-icon.png);
}

.folder-icon{
    background-image: url(assets/image/folder-icon.png);
}

.close-icon{
    background-image: url(assets/image/close-icon.png);
}

.more-icon{
    background-image: url(assets/image/more-icon.png);
}

.favorite-fill-icon{
    background-image: url(assets/image/heart-fill.png);
}

.favorite-unfill-icon{
    background-image: url(assets/image/heart-unfill.png);
}

.up-icon{
    background-image: url(assets/image/up-icon.png);
}

.down-icon{
    background-image: url(assets/image/down-icon.png);
}

.reply-icon{
    background-image: url(assets/image/reply-icon.png);
}

.emphasis{
    font-weight: bolder;
}

.word-badge{
    padding: 6px 20px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 30px;
    color: rgba(0, 0, 0, 0.3);
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
}

.word-badge:hover{
    background-color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}